<% if flash[:messages] %>
    <div class="alert alert-info">
        <em><%= flash[:messages] %></em>
    <div>
<% end %>

<%= form_for @apology do |f|%>
	
  <div>
    <label for="incident_id">Select an incident to apologize for:</label>
    <%= f.collection_select :incident_id, @incidents, :id, :name, prompt: true%>
  </div><br>
  <div>
    <%= f.fields_for :incident, @incident do |i|%>
        <%= i.label :name, "Or log a new incident:" %>
        <%= i.text_field :name %>
    <% end %>
  </div>

    <div>
    <%= f.label :body, "Apology:"%>
    <%= f.text_area :body%>
  </div><br>
	
  <%= f.submit %>
	
<% end %>